<div class="footer__wrapper">
    <div class="col-md-12" style="height:100px;"></div>
        <footer class="footer">
            <div class="container-fluid text-center">
                <div class="footer-text text-muted row">
                    Udacity Full Stack Nanodegree Project. Built by
                    <a href="https://github.com/modopo">Jonathan Tsai</a>
                    <br>
                    View source code on <a href="https://github.com/modopo/ItemCataloger">Github</a>
                </div>
            </div>
        </footer>
</div>