{% extends "base.html" %}
{% block content %}
{% include "partial/header.html" %}

    <div class="col-sm-10 col-sm-offset-2">
        <h2>Are you sure you want to delete {{category.name}}?</h2>
        <p>This will also delete any items within this category.</p>
    </div>
    <br>
    <form class="col-sm-10 col-sm-offset-2" method="POST">
    {{ form.csrf_token }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-danger" type="submit">Delete</button>
            <a class="btn btn-default"
               href="{{url_for('home.index')}}">Cancel</a>
            </div>
        </div>
    </form>

{% include "partial/footer.html" %}
{% endblock content %}