{% extends "base.html" %}
{% block content %}
{% include "partial/header.html" %}

    <section class="container-fluid">
        <div class="col-md-12">
            <h1>Create a new category</h1>
        </div>
    </section>

    <form class="form-horizontal container-fluid" method="POST">
    {{ form.csrf_token }}
        <div class="form-group">
            <label class="control-label">New Category:</label>

            {% if form.name.errors %}
                <div class="col-md-12">
                <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                </div>
            {% endif %}

            <div class="col-md-12">
            {{ form.name(class="form-control") }}
            </div>

        </div>

        <div class="container-fluid">
            <form class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit">Create</button>
                    <a class="btn btn-default"
                       href="{{url_for('home.index')}}">Cancel</a>
                </div>
            </form>
        </div>
    </form>

{% include "partial/footer.html" %}
{% endblock content %}