{% extends "base.html" %}
{% block content %}
{% include "partial/header.html" %}

    <section class="row">
        <div class="col-md-12">
            <h2>Create a new category</h2>
        </div>
    </section>

    <form class="col-md-12" method="POST">
    {{ form.csrf_token }}
        <div class="form-group">
            <label class="col-md-2 control-label">New Category:</label>

            {% if form.name.errors %}
                <div class="col-md-12">
                <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                </div>
            {% endif %}

            <div class="col-md-12">
            {{ form.name(class="form_placeholder") }}
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-12">
                <br>
                <button class="btn btn-success" type="submit">Create</button>
                <a class="btn btn-default"
                   href="{{url_for('home.index')}}">Cancel</a>
            </div>
        </div>
    </form>

    <br>
    <br>

{% include "partial/footer.html" %}
{% endblock content %}